<app-toolbar></app-toolbar>
<div class="content">
  <app-natural-person></app-natural-person>
  <app-juristic-person></app-juristic-person>

  <div class="mat-typography">
    <h3>Mas informacion</h3>
    <p>Esta pagina se basa en documentación oficial obtenida por medio del IFAI (Instituto Federal de Acceso a la
      Información). El documento puede ser consultado en el sitio de INFOMEX con el folio 0610100135506.

      Cabe advertir que sólo la Secretaría de Hacienda y Crédito Público, a través del Servicio de Administración
      Tributaria, es la única instancia que oficialmente asigna las claves de RFC a los contribuyentes que así lo
      soliciten, a partir de la aplicación de este procedimiento a la base de datos del Padrón de Contribuyentes, con la
      finalidad de identificar homonimias y evitar la duplicidad de registros.</p>
  </div>
</div>

