<app-toolbar></app-toolbar>

<section id="personas-fisicas" class="section-calculator">
  <div class="intro">
    <app-natural-person-intro></app-natural-person-intro>
  </div>
  <div class="calculator">
    <app-natural-person-rfc-calculator></app-natural-person-rfc-calculator>
  </div>
</section>

<section id="personas-morales" class="section-calculator">
  <div class="intro">
    <app-juristic-person-intro></app-juristic-person-intro>
  </div>
  <div class="calculator">
    <app-juristic-person-rfc-calculator></app-juristic-person-rfc-calculator>
  </div>
</section>
