
.section-calculator {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(8, 1fr);
  grid-gap: 16px;
  height: 400px;
}

.intro {
  grid-area: 2 / 2 / 4 / 4;
}

.calculator {
  grid-area: 2 / 5 / 5 / 8;
}
